@import 'tailwindcss';

.hero-pattern {
  background-image: url('../src/assets/mountains.png');
}
.custom-calendar {
  background: transparent;
  border: none;
  color: white;
}
.react-calendar__tile {
  background: transparent;
  border-radius: 12px;
  transition: 0.2s;
}
.react-calendar__tile:hover {
  background: rgb(255, 0, 0);
}
.react-calendar__tile--active {
  background: linear-gradient(135deg, #6366f1, #a855f7);
  color: white;
}
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
